@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

.bg-grey-dark {
  background-color: #708090;
}
.bg-grey-light {
  background-color: #CBD9E6;
}

.text-grey {
  color: #708090;
}
.text-grey-light {
  color: #CBD9E6;
}

.text-inter {
  font-family: 'Inter', sans-serif;
}

.text-monsterrat {
  font-family: 'Montserrat', sans-serif;
}

.text-bitcount {
  font-family: 'Bitcount Prop Single', system-ui;
}
.text-green-pastel {
  color: #47A992;
}
.text-red-pastel {
  color: #DA6C6C;
}

.bg-green-pastel {
  background-color: #47A992;
}
.bg-red-pastel {
  background-color: #DA6C6C;
}

.bg-blue-dark{
  background-color: #3E5879;
}