@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

.bg-gray-dark {
  background-color: #708090;
}
.bg-gray-light {
  background-color: #CBD9E6;
}

.text-gray {
  color: #595454;
}

.text-inter {
  font-family: 'Inter', sans-serif;
}

.text-monsterrat {
  font-family: 'Montserrat', sans-serif;
}

.text-bitcount {
  font-family: 'Bitcount Prop Single', system-ui;
}

.bg-green-pastel {
  background-color: #47A992;
}
.bg-red-pastel {
  background-color: #DA6C6C;
}